
<h2>Master Home Index Page</h2>

<script type="text/javascript">
    debugger;
    //alert("hiii");

    // Display an info toast with no title
    toastr.warning('Test message', "Development environment");
    //toastr.error('Are you the on Error', "Title");
    //toastr.warning('Are you on the Warning',"Title");

</script>