@model SmartRestaurant.Business.Restaurant
@{
    ViewBag.Title = "Index";
}

<div class="card card-info">
    @*<div class="card-header">
            <h3 class="card-title">Restaurant</h3>
        </div>*@
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="card-body">
            <div class="form-group row">
                <label for="Res_Name" class="col-sm-2 col-form-label">Restaurant Name</label>
                <input type="text" class="col-sm-6 form-control" id="Res_Name" placeholder="Enter Restaurant Name">
            </div>
            <div class="form-group row">
                <label for="Res_Area" class="col-sm-2 col-form-label">Restaurant Area</label>
                <input type="text" class="col-sm-6 form-control" id="Res_Area" placeholder="Enter Restaurant area">
            </div>
            <div class="form-group row">
                <label for="Res_Type" class="col-sm-2 col-form-label">Restaurant Type</label>
                <input type="text" class="col-sm-3 form-control" id="Res_Type" placeholder="Enter type">
            </div>
            <div class="form-group row">
                <label for="Res_Phone" class="col-sm-2 col-form-label">Mobile</label>
                <input type="number" class="col-sm-2 form-control" id="Res_Phone" placeholder="Enter Mobile No">
                <div class="col-sm-2"></div>
                <label for="Res_Email" class="col-sm-2 col-form-label">Email</label>
                <input type="email" class="col-sm-3 form-control" id="Res_Email" placeholder="Enter Email">
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-default" formmethod="post">Create</button>
                <a class="btn btn-primary btn-sm" href="@Url.Action("Index", "Restaurant" , new { Area = "Masters" })">
                    <i class="fa fa-lg fa-fw fa-reply"></i>
                    Cancel
                </a>
            </div>
            <!-- /.card-footer -->
        </div>
    </form>
</div>
<script type="text/javascript">

    //document.getElementById('lblPageHead').innerHTML ='Restaurant';
    document.getElementById('lblActiveMenu').innerHTML ='Restaurant';
</script>